body {
    width: 100vw;
    height: 100vh;
}

header {
    top: 0;
    width: 100%;
    margin: 10px;
    color: white;
    font-size: x-large;
    text-align: center;
}

nav {
    color: white;
}

#videoSelector {
    width: 125px;
    height: 30px;
}

#refreshBtn {
    height: 30px;
    margin-left: 10px;
}

#deleteBtn {
    height: 30px;
    margin-left: 10px;
}

#uploadForm {
    margin-left: 10px;
}

#playerContainer {
    display: block;
}

#player {
    width: 95%;
    height: auto;
    display: block;
    margin: 0 auto;
    background: #111;
    border: solid 2px black;
    outline: none;
}