<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>StormCloud</title>
    <script src="../scripts/index.js"></script>
    <script src="../scripts/videos.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="../styles/videos.css">
    <link rel="stylesheet" href="../styles/common.css">
</head>

<body>
    <div class="jumbotron jumbotron-fluid">
        <div class="container">
          <h1 class="display-4">StormCloud</h1>
          <p class="lead">Browse, Upload, Watch... the sky's the limit.</p>
          <a href="/upload">Upload</a>
        </div>
    </div>
    <div id="videoContainer" class="container-fluid">
    </div>
</body>
</html>