<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<title>Upload</title>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
	<link rel="stylesheet" href="../styles/common.css">
	<link rel="stylesheet" href="../styles/upload.css">
</head>
<body>
	<div class="jumbotron jumbotron-fluid">
        <div class="container">
          <h1 class="display-4">StormCloud</h1>
          <p class="lead">Upload</p>
          <a href="/index">Home</a>
        </div>
	</div>
	<div class="container">
		<form class="form" method="POST" enctype="multipart/form-data" action="/videos/upload">
			<div class="form-row justify-content-center">
				<label>Title</label>
				<input name="title" type="text" class="form-control">
			</div>
			<div class="form-row justify-content-center">
				<label for="videoInput">Video</label>
				<input id="videoInput" name="uploadedVideo" type="file" class="form-control">
			</div>
			<div class="form-row justify-content-center">
				<label>Thumbnail</label>
				<input name="uploadedThumbnail" type="file" class="form-control">
			</div>
			<div class="form-row justify-content-center">
				<button type="submit" class="btn btn-primary">Upload</button>
			</div>
		</form>
	</div>
</body>
</html>